/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* --- Basic CSS Reset --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- SCSS variables --- */

$white: #fff;
$black: #000;
$main: #777;
$lightGreen: rgba(117, 255, 93, 0.804);
$mediumGreen: rgba(11, 176, 66, 0.8);
$darkGreen: rgba(0, 95, 63, 0.801);

body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: $main;
  line-height: 1.4;
  font-weight: 400;
  padding: 2rem;
}

.btn {
  padding: 0.5rem 1.75rem;
  border: none;
  outline: none;
}

/* --- Hero Section --- */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, $mediumGreen, $darkGreen), url(../img/hero.jpg);

  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
  display: grid;
  place-items: center;
}

.main-logo {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  height: 2.5rem;
}

.hero-text {
  transform: translateY(-30%);
  /* background-color: $black); /
  padding: 1rem;
  /* animation: showIt 1s ease-in-out forwards; */
  text-align: center;
}
.hero-text h1 {
  color: $white;
}

.hero-text--heading {
  letter-spacing: 1rem;
  font-size: 3.75rem;
  display: block;
  font-weight: 400;
  text-transform: uppercase;
  animation: slideFromLeft 1s ease-in-out forwards;
  /* animation-delay: 1s; Starts after the heading animation */
}

.hero-text--subheading {
  letter-spacing: 0.5rem;
  font-size: 2.5rem;
  display: block;
  font-weight: 300;
  animation: slideFromRight 0.75s ease-in-out forwards;
}

/* Anchor Element 4 states */
.hero-btn:link,
.hero-btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  background-color: $white;
  color: $main;
  display: inline-block;
  margin-top: 2rem;
  border-radius: 2rem;
  transition: all 0.2s;
}

.hero-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.hero-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* --- Adding Animations --- */
@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(5px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-5px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* @keyframes showIt {
  0% {
    opacity: 0;
    transform: translateZ(-100px) scale(0.8);
  }

  100% {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
} */

/*--- Creating a 12-Column Grid System --- */

$gridWidth: 71.25rem;
$rowBg: #eee;

.row {
  max-width: $gridWidth;
  margin: 0 auto; // to center the whole section
  //   background-color: $rowBg;
  padding: 0 1.25rem;

  &:not(:last-of-type) {
    margin-bottom: 5rem; // 80px
  }

  .col {
    // background-color: #da0202;
    // text-align: center;
    padding: 2rem 0rem;
    // color: $white;
    // background-color: $rowBg;

    // col-2-3
    &.col-2-3 {
      grid-column: span 2;
    }

    // col-2-4
    &.col-2-4 {
      grid-column: span 2;
    }

    &.col-3-4 {
      grid-column: span 3;
    }
  }
  // Let's start working with columns
  display: grid;
  column-gap: 3rem;
  &.col-1-of-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &.col-1-of-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  &.col-1-of-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

/** --- 1. About Section --- */
$colorGray1: #f7f7f7;
.section-about {
  background-color: $colorGray1;
  margin-top: -20vh;
  padding: 20rem 0;
}

.heading-secondary {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;

  // Gradient Text Effect
  background-image: linear-gradient(to right, $mediumGreen, $darkGreen);
  background-clip: text;
  color: transparent;
}

/** ---  Adding Utility classes ---> Already heading towards tailwind goals --- */
.u-text-center {
  text-align: center;
}

.u-mb-20 {
  // 20*4 = 80px, let's keep mb-1 = 4px
  margin-bottom: 5rem;
}

.u-mb-5 {
  margin-bottom: 1.25rem;
}

.heading-3 {
  font-size: 1.125rem;
  font-weight: 700;
}

.para {
  font-size: 1rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

/** STYLING THE BTN **/

.btn-text {
  &:link,
  &:visited {
    font-size: 1.125rem;
    color: $mediumGreen;
    text-decoration: none;
    border-bottom: 1px solid $mediumGreen;
    padding-bottom: 3px;
    display: inline-block;
    transition: all 0.25s;
    padding: 2px 3px;
  }

  &:hover {
    background-color: $mediumGreen;
    box-shadow: 0 0.625rem 1.25rem rgba($black, 0.15);
    transform: translateY(-4px);
    color: $white;
  }

  &:active {
    box-shadow: 0 5px 0.625rem rgba($black, 0.15);
    transform: translateY(-1px);
  }
}

// BEM with SCSS works awesome

.composition {
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 0 1rem 4rem rgba($black, 0.4);
    // border-radius: 2px;
    position: absolute;
    transition: all 0.25s;
    outline-offset: 1.25rem;

    &--p1 {
      left: 0;
      top: -1.25rem;
      z-index: 1;
    }

    &--p2 {
      right: 0;
      top: 1.25rem;
      z-index: 2;
    }

    &--p3 {
      top: 10rem;
      left: 20%;

      z-index: 3;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 1.5rem 4rem rgba($black, 0.5);
      cursor: pointer;
      z-index: 4;
      outline: 1rem solid $mediumGreen;
    }
  }

  // Scale down other images other than the currently hovered one. Good Technique
  &:hover {
    .composition__photo:not(:hover) {
      transform: scale(0.95);
    }
  }
}

/* --- 2. Feature Section--- */
.section-features {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, $mediumGreen, $darkGreen),
    url(../img/nat-4.jpg);

  background-position: top;
  background-size: cover;
  //   clip-path: polygon(0 15vh, 100% 0, 100% 85vh, 0 100%);
  margin-top: -15vh;
  transform: skewY(-7deg);

  //   Now reversing the skewY on all immediate children element, which basically is row (direct child)
  & > * {
    transform: skewY(7deg);
  }

  .feature-box {
    background-color: rgba($white, 0.8);
    padding: 2rem 1.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1rem 2.5rem rgba($black, 0.15);
    transition: all 0.25s;

    &__icon {
      display: inline-block;
      font-size: 3.75rem;
      background-image: linear-gradient(to right, rgba(11, 176, 66, 0.8), rgba(0, 95, 63, 0.801));
      background-clip: text;
      color: transparent;
      margin-bottom: 1.5rem;
    }

    &:hover {
      transform: translateY(-1rem) scale(1.03);
    }

    &__text {
      font-size: 0.875rem;
    }
  }
}

/* --- 3. Most Popular Tours --- */
.section-popular-tours {
  padding: 16rem 0 10rem 0;
  background-color: $colorGray1;
  margin-top: -6.25rem;

  &__cta {
    border: none;
    padding: 0.75rem 2rem;
    background-color: $mediumGreen;
    transition: all 0.3s;
    font-weight: 100;
    border-radius: 1.5rem;
    color: $white;
    font-size: 1.25rem;
    cursor: pointer;
    &:hover {
      background-color: $mediumGreen;
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    &:active {
      transform: translateY(0px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
  }
}

// Styling the card component
$lightOrange: #ffb900;
$mediumOrange: #ff7730;

$lightBlue: #2998ff;
$mediumBlue: #5643fa;

$colorGray2: #eee;

.card {
  position: relative;
  transform-style: preserve-3d; // Retain 3D transformations
  perspective: 100rem; // Assuming a camera is set vertically on the parent
  height: 30rem;
  &__side {
    height: 30rem;
    // background-color: orange;
    transition: transform 0.8s;
    cursor: pointer;
    // color: $white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden; // Hides the back side when it's not facing the viewer
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

    &--front {
      background-color: $white;
      transform: rotateY(0);
    }

    &--back {
      transform: rotateY(-180deg); // Default state of backside is rotated
      &-1 {
        background-image: linear-gradient(to right, $lightOrange, $mediumOrange);
      }

      &-2 {
        background-image: linear-gradient(to right bottom, $mediumGreen, $darkGreen);
      }

      &-3 {
        background-image: linear-gradient(to right bottom, $lightBlue, $mediumBlue);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // Card Front-side Styling

  &__picture {
    height: 14.25rem;
    background-size: cover;
    background-blend-mode: color;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(to right bottom, $lightOrange, $mediumOrange),
        url(../img/nat-5.jpg);
    }

    &--2 {
      background-image: linear-gradient(to right bottom, $mediumGreen, $darkGreen),
        url(../img/nat-6.jpg);
    }

    &--3 {
      background-image: linear-gradient(to right bottom, $lightBlue, $mediumBlue),
        url(../img/nat-7.jpg);
    }
  }

  // Heading
  &__heading {
    display: inline-block;
    position: absolute;
    max-width: 75%;
    font-size: 1.75rem;
    padding: 0.625rem 1rem;
    right: 1.25rem;
    top: 8rem;
    color: $white;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
  }

  &__heading-span {
    padding: 0.625rem 1rem;
    box-decoration-break: clone;
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($lightOrange, 0.85),
        rgba($mediumOrange, 0.8)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($mediumGreen, 0.85),
        rgba($darkGreen, 0.85)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($lightBlue, 0.85),
        rgba($mediumBlue, 0.85)
      );
    }
  }

  // List Items

  &__details {
    padding: 1.75rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        border-bottom: 1px solid $colorGray2;
        text-align: center;
        padding-bottom: 0.25rem;
        margin-bottom: 1rem;
      }
    }
  }

  &__user-action {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    color: $white;

    margin-top: 40%;
    gap: 1.25rem;
    &--text {
      font-size: 2rem;
      font-weight: 300;
    }

    &--price {
      font-size: 3.75rem;
      font-weight: 100;
    }

    &--btn {
      padding: 1rem 2rem;
      border-radius: 2rem;
      font-size: 1.25rem;
      background-color: $lightOrange;
      color: $black;
      text-decoration: none;
      outline: none;
      border: none;
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        background-color: $mediumOrange;
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
      &:active {
        transform: translateY(0px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

// Cards are taking shape beautifully, Will start tours after this

/* --- 4. Stories Section --- */

.section-stories {
  padding: 13rem 0;

  .story {
    width: 75%;
    background-color: $white;
    box-shadow: 0 1.75rem 3.75rem rgba(0, 0, 0, 0.1);
    padding: 3.75rem;
    margin: 0 auto;
    font-size: 1rem;
    &__shape {
      height: 9.375rem;
      width: 9.375rem;
      background-color: #ccc;
      float: left;
      shape-outside: circle(50% at 50% 50%);
    }
  }
}
